cffi==1.15.1
click==8.0.4
colorama==0.4.6
cryptography==39.0.1
dnspython==2.2.1
email-validator==1.2.1
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
greenlet==2.0.1
idna==3.4
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pip==23.0.1
pycparser==2.21
setuptools==67.8.0
SQLAlchemy==1.4.39
Werkzeug==2.2.3
wheel==0.38.4
WTForms==2.3.3
