<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Us </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/aboutus.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <nav class="navbar">
            <img src="{{ url_for('static',filename='images/logo.png') }}" alt="Logo" width="100" height="60" class=" align-text-top">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.index') }}" >
            Home
        </a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.aboutus') }}" >
            About Us
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.contactus') }}" >
            Contact Us
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.faqs') }}" >
            FAQS
        </a>
        </li>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}" >
            Login
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signup') }}" >
            Sign Up
        </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">
            Logout
        </a>
        </li>
    </div>
        </nav>
    </header>
    <section id="home">
        <div class="home-left">
            <img src="{{url_for('static',filename='images/back1.jpg')}}" alt="">
        </div>
        <div class="home-right">
            <h2 class="home-heading"> Expense Tracker </h2>
            <p class="home-para">Expense tracker allows you to easily add and categorize 
              your expenses, set budgets, and view detailed reports.</p>
        </div>
    </section>

    <section id="goal">
        <div class="goal-left">
            <h2>Our Mission</h2>
            <p>Our mission is to help people take control of 
              their finances by providing a simple and intuitive 
              expense tracking tool. We believe that everyone 
              should have access to the tools and resources they 
              need to make informed decisions about their money
            </p>
        </div>
        <div class="goal-right">
            <img src="{{url_for('static',filename='images/back2.jpg')}}" alt="">
        </div>
    </section>
    <section id="our-Team">
        <h2>Our Team Members</h2>
        <div class="teamContainer">
            <div class="team-item">
                <img src="{{url_for('static',filename='images/Robert.jpeg')}}" alt="">
                <h5 class="member-name">Robert Njonjo</h5>
                <span class="role">Software Engineer</span>
                <div class>
                <a href="https://github.com/M1urray"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/robert-njonjo"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
            <div class="team-item">
                <img src="{{url_for('static',filename='images/dennis.jpeg')}}" alt="">
                <h5 class="member-name">Dennis Kamau</h5>
                <span class="role">Software Engineer</span>
                <div class>
                <a href="https://github.com/Dkemzy"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/kamau-dennis-b3155b153"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
            <div class="team-item">
                <img src="{{url_for('static',filename='images/Rimg.jpg')}}" alt="">
                <h5 class="member-name">Rim El Filali</h5>
                <span class="role">Software Engineer</span>
                <div class>
                <a href="https://github.com/Rima119"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/rim-el-filali-0710a6269/"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/RimFilali"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p> &copy; 2023 - All rights reserved - Expense Tracker</p>
    </footer>
</body>
<script>
  const resBtn = document.getElementById('res');
  resBtn.addEventListener('click', function () {
      const responsiveRight = document.querySelector('.responsive')
      resBtn.classList.toggle('active')
      if (resBtn.classList.contains('active')) {
          responsiveRight.classList.add('active')
      }
      else {
          responsiveRight.classList.remove('active')
      }
  })
</script>
</html>