<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Expense</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  {% include "navbar.html" %}
<main>
    {% block content %}
    {% endblock %}
  </main>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="logout.js"></script>
</body>

<footer class="footer">
    <div class="block">
      <div class="row">
        <div class="footer-col">
          <h4>
            <img src="{{url_for('static',filename='images/logo.png')}}" alt="Logo">
            Expense Tracker
          </h4>
        </div>

        <div class="footer-col">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{{ url_for('main.index')}}"> Home </a></li>
                <li><a href="{{ url_for('auth.login')}}"> Login </a></li>
                <li><a href="contactus.html"> Contact Us </a></li>
                <li><a href="{{ url_for('main.aboutus')}}"> About Us </a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Reach us at:</h4>
          <div class="social-links">
            <a href="https://github.com/Dkemzy/alx-webstack-portfolio-project"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>  
        </div>

        <div class="footer-col">
          <h4>Address</h4>  
        </div>
  <div class="container text-center">
    <span class="text-muted">© 2023 Expense Tracker. All rights reserved.</span>
  </div>
</footer>
</body>
<script>
function gotoCalc(){
    window.location.href = "{{ url_for('main.calculate')}}";
}
</script>
</html>