<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
      <img src="/templates/static/css/images/logo.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
      Expense Tracker
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
        </ul>
    </div>
  </nav>

 <!-- ... -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Expense Tracking app</h1>
    <p class="lead text-muted">A cool Expense Tracking app. Manage your cash flow for a better tomorrow!</p>
    <p>
      text
    </p>
    <div class="container">
      <div class="lregister-container collapse" id="registrationForm">
        <div class="profile-icon">
          <i class="fas fa-user-circle fa-5x"></i>
        </div>
        <h2>Register</h2>
        <form method="POST" action="login.py">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <div class="password-input">
              <input type="password" class="form-control" id="password" name="password" required>
              <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fas fa-eye"></i></span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="social-login">
          <p>Or sign up with:</p>
          <a href="#" class="btn btn-social btn-facebook" onclick="checkAccountLink('facebook')"><i class="fab fa-facebook-f"></i> Facebook</a>
          <a href="#" class="btn btn-social btn-google" onclick="checkAccountLink('google')"><i class="fab fa-google"></i> Google</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-center">Our Products</h2>
    <div class="card">
      <div class="card-image car-1"></div>
      <h2>Title</h2>
      <p>This is a paragraph about the first image.</p>
    </div>
    <div class="card">
      <div class="card-image car-2"></div>
      <h2>Title</h2>
      <p>This is a paragraph about the second image.</p>
    </div>
    <div class="card">
      <div class="card-image car-3"></div>
      <h2>Title</h2>
      <p>This is a paragraph about the third image.</p>
    </div>
  </section>

  <main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </main>

  <footer class="footer">
    <div class="block">
      <div class="row">
        <div class="footer-col">
          <h4>
            <img src="/templates/static/css/images/logo.png" alt="Logo">
            Expense Tracker
          </h4>
        </div>

        <div class="footer-col">
          <h4>FAQs</h4>
          <ul>
            <li><a href="faqs.html">Frequently Asked Questions</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Reach us at:</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>  
        </div>

        <div class="footer-col">
          <h4>Address</h4>  
        </div>
      </div>
      <p>&copy; 2023 Expense Tracker</p>
    </div>
  </footer>
</body>
</html>
