<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Expense Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <div class="navbar-nav">
                  <a class="nav-item nav-link" href="#">Login</a>
                  <a class="nav-item nav-link" href="#">Register</a>
              </div>
      </div>
  </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="image1.jpg" alt="Image 1">
          <p>This is a paragraph about the first image.</p>
        </div>
        <div class="col-md-4">
          <img src="image2.jpg" alt="Image 2">
          <p>This is a paragraph about the second image.</p>
        </div>
        <div class="col-md-4">
          <img src="image3.jpg" alt="Image 3">
          <p>This is a paragraph about the third image.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>Copyright &copy; 2023</p>
    </div>
  </footer>
</body>
</html>

