<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Reset Password</div>
      </div>
      <div class="form-container">
        <div class="form-inner">
          <form action="#" class="login">
            <div class="field">
              <input type="text" placeholder="Username" required>
            </div>    
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Reset Password">
            </div>
            <div class="signup-link">Not a member? <a href="login.html">Signup now</a></div>
            <div class="signup-link">Already have an account? <a href="login.html">Signin now</a></div>
          </form>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
